{{ partial "menu/header.html" . }}

{{ $currentNode := . }}
{{ range .Site.Menus.apiv2 }}

    <li class="menuItem {{if or ($currentNode.IsMenuCurrent "apiv2" .) ($currentNode.HasMenuCurrent "apiv2" .) }}active{{end}}{{if .HasChildren}} nest{{end}}">
        <a href="{{.URL}}">{{.Name}}</a>
    </li>

    {{ if or ($currentNode.IsMenuCurrent "apiv2" .) ($currentNode.HasMenuCurrent "apiv2" .) }}
        {{ $.Scratch.Set "CurrentMenu" . }}
        {{ $.Scratch.Add "Breadcrumbs" (print " > <a href='" .URL  "'>" .Name "</a>" )  }}

        {{ if .HasChildren }}
            <ul class="nav-tier nav-tier2">{{ range .Children }}

                <li class="menuItem {{if or ($currentNode.IsMenuCurrent "apiv2" .) ($currentNode.HasMenuCurrent "apiv2" .) }}active{{end}}{{if .HasChildren}} nest{{end}}">
                    <a href="{{.URL}}">{{ .Name }} </a>
                </li>

                {{ if or ($currentNode.IsMenuCurrent "apiv2" .) ($currentNode.HasMenuCurrent "apiv2" .) }}
                    {{ $.Scratch.Set "CurrentMenu" . }}
                    {{ $.Scratch.Add "Breadcrumbs" (print " > <a href='" .URL  "'>" .Name "</a>" )  }}

                    {{ if .HasChildren }}
                        <ul class="nav-tier nav-tier3">{{ range .Children }}

                            <li class="menuItem {{if or ($currentNode.IsMenuCurrent "apiv2" .) ($currentNode.HasMenuCurrent "apiv2" .) }}active{{end}}{{if .HasChildren}} nest{{end}}">
                                <a href="{{.URL}}">{{ .Name }}</a>
                            </li>

                            {{ if or ($currentNode.IsMenuCurrent "apiv2" .) ($currentNode.HasMenuCurrent "apiv2" .) }}
                                {{ $.Scratch.Set "CurrentMenu" . }}
                                {{ $.Scratch.Add "Breadcrumbs" (print " > <a href='" .URL  "'>" .Name "</a>" )  }}

                                {{ if .HasChildren }}
                                    <ul class="nav-tier nav-tier4">{{ range .Children }}

                                        <li class="menuItem {{if or ($currentNode.IsMenuCurrent "apiv2" .) ($currentNode.HasMenuCurrent "apiv2" .) }}active{{end}}{{if .HasChildren}} nest{{end}}">
                                            <a href="{{.URL}}">{{ .Name }} </a>
                                        </li>

                                        {{ if or ($currentNode.IsMenuCurrent "apiv2" .) ($currentNode.HasMenuCurrent "apiv2" .) }}
                                            {{ $.Scratch.Set "CurrentMenu" . }}
                                            {{ $.Scratch.Add "Breadcrumbs" (print " > <a href='" .URL  "'>" .Name "</a>" )  }}

                                            {{ if .HasChildren }}
                                                <ul class="nav-tier nav-tier5">{{ range .Children }}

                                                    <li class="menuItem {{if or ($currentNode.IsMenuCurrent "apiv2" .) ($currentNode.HasMenuCurrent "apiv2" .) }}active{{end}}{{if .HasChildren}} nest{{end}}">
                                                        <a href="{{.URL}}">{{ .Name }} </a>
                                                    </li>

                                                {{ end }}</ul>
                                            {{ end }}
                                        {{ end }}

                                    {{ end }}</ul>
                                {{ end }}
                            {{ end }}
                        {{ end }}</ul>
                    {{ end }}
                {{ end }}
        {{ end }}</ul>
        {{ end }}
    {{ end }}

{{end}}

{{ partial "menu/footer.html" . }}