<section class="choiceApi">
    <a href="/help/apiv2" class="choiceApi-link">
        <div class="choiceApi-left">
            <h2 class="choiceApi-title">
                Looking for our API Docs?
            </h2>
            <p class="choiceApi-p">
                You can do a lot with our powerful API. If you're a developer we recommend checking out our API docs first!
            </p>
        </div>
        <div class="choiceApi-right">
            API v2 Docs
        </div>
    </a>
</section>
