<div class="docs-welcome-choice choice-developer">
    <div class="choice-main">
        <h3>Developer Docs</h3>
        <em>For Open Source</em>
        <div class="welcome-intro">
            <p>
                The developer documentation is geared towards folks using the
                <b>open source product</b> who have at least a basic understanding of
                PHP, HTML, CSS and Javascript and are hosting Vanilla themselves.
            </p>
        </div>
    </div>
    <div class="docs-choose-buttons">
        <a href="/developer" class="docs-button">Dive In</a>
    </div>
</div>