<div class="docs-welcome-choice choice-developer">
    <h3>Developer Documentation</h3>
    <em>For open source</em>
    <div class="welcome-intro">
        <p>
            The developer documentation is geared towards folks using the 
            <b>open source product</b> who have at least a basic understanding of 
            PHP, HTML, CSS and Javascript and are hosting Vanilla themselves.
        </p>
    </div>
    <div class="docs-choose-buttons">
        <a href="/developer" class="docs-button button-outline">Dive In</a>
    </div>
</div>