<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Vanilla Forums, create an online community that your customers will love">
        <meta name="author" content="Vanilla Community">

        <title>Vanilla Forums Documentation</title>
        
        <link href="/css/docs.css" rel="stylesheet">
        <link href="/css/fonts/fontawesome/css/font-awesome.min.css" rel="stylesheet">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <style type="text/css">
            .callout {
                table-layout: fixed;
            }
        </style>
    </head>

    <body class="docs grid docs-layout-single">
        
        {{ partial "header.html" . }}
        
        {{ if .Params.notoc }}
        
            <div class="docs-title-wrapper">
                <div class="row">
                    <div id="title" class="column column-12">
                        {{ partial "title.html" . }}
                    </div>
                </div>
            </div>
        
            <div class="docs-content">
                <div class="row">
                    <div id="content" class="column column-12">
                        {{ .Content }}
                    </div>
                </div>
            </div>
        
        {{ else }}

            <div class="docs-title-wrapper">
                <div class="row">
                    <div class="column column-3"></div>
                    <div id="title" class="column column-9">
                        {{ partial "title.html" . }}
                    </div>
                </div>
            </div>
        
            <div class="docs-content">
                <div class="row">
                    <div id="toc" class="column column-3 toc {{ if gt (len .TableOfContents) 2500 }}compact{{ end }}">
                        <div class="docs-nav">
                            {{ .TableOfContents }}
                        </div>
                    </div>

                    <div id="content" class="column column-9">
                        {{ .Content }}
                    </div>
                </div>
            </div>

        {{ end }}

        {{ partial "platforms.html" . }}
        {{ partial "footer.html" . }}
    
    </body>
</html>