<div class="docs-links">
    <a class="docs-links-item item-docs" href="{{ .Site.Params.links.docs }}">Documentation</a>
    <a class="docs-links-item item-blog" href="{{ .Site.Params.links.blog }}">Blog</a>
    <a class="docs-links-item item-cloud" href="{{ .Site.Params.links.cloud }}">Cloud</a>
    <a class="docs-links-item item-community" href="{{ .Site.Params.links.community }}">Community</a>
    <a class="docs-links-item item-api" href="{{ .Site.Params.links.api }}">API</a>
    <a class="docs-links-item item-github" href="{{ .Site.Params.links.github }}">GitHub</a>
    <a class="docs-links-item item-issues" href="{{ .Site.Params.links.issues }}">Issues</a>
</div>