<div class="docs-footer">
    <div class="docs-copyright">
        Copyright &copy 2009-{{ .Now.year }} Vanilla Forums, Inc. All rights reserved.
    </div>
    <div class="docs-submenu">
        <ul>
            <li class="docs-submenu-item item-docs"><a href="{{ .Site.Params.links.docs }}">Documentation</a></li>
            <li class="docs-submenu-item item-blog"><a href="{{ .Site.Params.links.blog }}">Blog</a></li>
            <li class="docs-submenu-item item-cloud"><a href="{{ .Site.Params.links.cloud }}">Cloud</a></li>
            <li class="docs-submenu-item item-community"><a href="{{ .Site.Params.links.community }}">Community</a></li>
            <li class="docs-submenu-item item-github"><a href="{{ .Site.Params.links.github }}">GitHub</a></li>
            <li class="docs-submenu-item item-issues"><a href="{{ .Site.Params.links.issues }}">Issues</a></li>
        </ul>
    </div>
</div>