<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Vanilla Forums, create an online community that your customers will love">
        <meta name="author" content="Vanilla Community">

        <title>Vanilla Forums Documentation</title>

        <link href="/css/docs.css" rel="stylesheet">
        <link href="/css/fonts/fontawesome/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css">

        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        <script src="/js/vendor/jquery-3.0.0.min.js"></script>
        <script src="/js/vendor/jquery.store.js" defer></script>
        <script src="/js/lunr-index.json" id="search-manifest" type="application/json"></script>
        <script src="/js/vendor/lunr.js" defer></script>
        <script src="/js/search.js" defer></script>
        <script src="/js/custom.js" defer></script>

        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

        {{ partial "trackers.html" . }}

        {{ if .Params.swagger }}
        <script src="/js/swagger/swagger-ui-bundle.js"></script>
        <script src="/js/swagger/swagger-ui-standalone-preset.js"></script>
        <script src="/js/swagger/swagger-ui-plugin.js"></script>
        <link href="/css/swagger-ui.css" rel="stylesheet">
        {{ end }}

    </head>

    <body class="docs grid docs-layout-single docs-layout-section-{{ .Section }} pageType-{{lower .Type}}">
        {{ partial "svgs.html" . }}
        {{ partial "header/slimheader.html" . }}
