<div class="platforms">
    <article class="platform">
        <h2 class="platform-title">
            Cloud Hosting
        </h2>
        <p class="platform-description">
            We believe that online communities should be intuitive, engaging and true to your brand. Vanilla allows you to create a customized community that rewards positive participation, automatically curates content and lets members drive moderation.
        </p>
        <a href="https://vanillaforums.com/" class="platform-link">
            Learn More &hellip;
        </a>
    </article>


    <article class="platform">
        <h2 class="platform-title">
            Open Source
        </h2>
        <p class="platform-description">
            Vanilla provides cloud and open source community forum software that powers discussion forums on more than 700,000 sites. Built for flexibility and integration, Vanilla is the best, most powerful community solution in the world.
        </p>
        <a href="https://vanillaforums.org/" class="platform-link">
            Learn More &hellip;
        </a>
    </article>
</div>
