<div class="docs-platform">
    
    <div class="row">
    
        <div class="column column-6">
            <div class="docs-platform-choice choice-cloud">
                <h3>Cloud Hosted</h3>
                <p>
                    <b>We believe that online communities should be intuitive, engaging and true to your brand.</b> Vanilla allows you to create a customized community that rewards positive participation, automatically curates content and lets members drive moderation.
                </p>
                <p>
                    <a href="https://vanillaforums.com">Learn more</a>
                </p>
            </div>
        </div>
        <div class="column column-6">
            <div class="docs-platform-choice choice-oss">
                <h3>Open Source</h3>
                <p>
                    Vanilla provides cloud and open source community forum software that powers discussion forums on more than 700,000 sites. Built for flexibility and integration, <b>Vanilla is the best, most powerful community solution in the world.</b>
                </p>
                <p>
                    <a href="https://vanillaforums.org">Learn more</a>
                </p>
            </div>
        </div>
        
    </div>
    
</div>