<div class="docs-platform">
    
    <div class="row">
    
        <div class="column column-3"></div>
        <div class="column column-9">
            <div class="docs-platform-choice choice-cloud">
                
                <img src="/img/cloud-hosting.png" />
                <div class="choice-details">
                    <h3>Cloud Hosting</h3>
                    <p>
                        We believe that online communities should be intuitive, engaging and true to your brand.
                    </p>
                </div>
                <a href="https://vanillaforums.com" class="docs-button button-outline">Learn more</a>
                
            </div>
        </div>

    </div>
    
</div>