<div class="docs-title">
    <h1 class="pageTitle">{{ .Title }}</h1>
    {{ if .IsPage }}
    <div class="docs-page docs-improve">
        {{ $File := .File }}
        {{with $File.Path }}
        <a href="https://github.com/vanilla/docs/edit/master/content/{{ $File.Dir }}{{ $File.LogicalName }}" class="editPage" title="Improve this document">
            <svg class="pencilIcon">
                <title>Pencil</title>
                <use class="icon-pencil" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-edit"></use>
            </svg>
        </a>
        {{ end }}
    </div>
    {{ end }}
</div>
