<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Vanilla Forums, create an online community that your customers will love">
        <meta name="author" content="Vanilla Community">

        <title>Vanilla Forums Documentation</title>
        
        <link href="/css/docs.css" rel="stylesheet">
        
        <script src="/js/vendor/jquery-3.0.0.min.js"></script>
        <script src="/js/vendor/jquery.store.js"></script>
        <script src="/js/lunr-index.json" id="search-manifest" type="application/json"></script>
        <script src="/js/vendor/lunr.js"></script>
        <script src="/js/search.js"></script>
        <script src="/js/custom.js"></script>
        
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        {{ partial "trackers.html" . }}
        
    </head>

    <body class="docs grid singletonPage">
        {{ partial "svgs.html" . }}
        <div class="singleton-bg">
            <div class="singleton-gradient"></div>
        </div>

        <div class="contentSingleton">
            <header class="singleton-header">
                <span class="vertical-group docs-header-logo">
                    {{ partial "logo-desktop.html" . }}
                </span>

                <div class="vertical-group docs-header-tray">
                    {{ partial "header/cta.html" . }}
                </div>
            </header>


            <main class="singleton-main">
                <div class="docs-welcome">
                    <h1 class="pageTitle">
                        Welcome to the Vanilla Forums<br/>
                        Documentation repository
                    </h1>

                    {{ partial "header/search.html" . }}
                </div>

                <div class="docs-chooser">
                    {{ partial "chooser/help.html" . }}
                    {{ partial "chooser/developer.html" . }}
                </div>

                {{ partial "chooser/api.html" . }}

                <div class="docs-landing-footer">
                    {{ partial "footer/copyright.html" . }}
                    {{ partial "footer/links.html" . }}
                </div>
            </main>
        </div>
    </body>
</html>
