{{ $rootNode := .rootNode }}
{{ $menuName := .menuName }}
{{ $menuData := .menuData }}
{{ $tier := .tier }}
{{ $tierOffset := 1 }}

<ul class='sidebar-menu nav-tier nav-tier{{ .tier }}'>
    {{ range .menuData }}
        {{ $isActive := ($rootNode.IsMenuCurrent $menuName . ) }}
        {{ $hasActiveChildren := ( $rootNode.HasMenuCurrent $menuName . ) }}
        <li class='menuItem{{if $isActive}} js-isActive{{ end }}'>

                <a href="{{ .URL }}" class="sidebar-link{{if $isActive}} isActive{{ end }}{{if $hasActiveChildren}} hasActiveChildren{{ end }}">
                    {{ .Name }}
                </a>
                {{ if .HasChildren }}
                    <div class="menuItem-children">
                        {{ partial "menu/genericMenu_tier.html" (dict "rootNode" $rootNode "menuName" $menuName "tier" (add 1 $tier) "menuData" .Children ) }}
                    </div>
                {{ end }}

        </li>
    {{ end }}
</ul>
