<div class="docs-header-search js-search">
    <label class="docs-search-wrap">
        <svg class="searchIcon">
            <title>Magnifying Glass</title>
            <use class="logo-horizontal" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-search"></use>
        </svg>
        <input class="docs-search-input js-search-input" placeholder="Search&hellip;" id="docs-search" />
    </label>
    <ul class="searchResults js-search-results">
        <li class="searchResult">
            <a class="searchResult-link">
                <div class="searchResult-title"></div>
                <div class="searchResult-tags"></div>
            </a>
        </li>
    </ul>
</div>
