<div class="docs-header-search js-search">
    <label class="docs-search-wrap">
        <svg class="searchIcon">
            <title>Magnifying Glass</title>
            <use class="logo-horizontal" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-search"></use>
        </svg>
        <input class="docs-search-input js-search-input" placeholder="Search&hellip;" id="docs-search" />
    </label>
    <ul class="docs-search-results js-search-results">
        <a>
            <li>
                <span class="title"></span>
                <span class="tags"></span>
            </li>
        </a>
    </ul>
</div>
