<header class="docs-header">
    <div class="content">
        <div class="row">
            <button id="hamburger" class="btn btn-transparent hamburgerMenu">
                <span class="sr-only">
                    Menu
                </span>
                <span class="hamburger">
                    <span class="hamburger-ingredient hamburger-topBread"></span>
                    <span class="hamburger-filler"></span>
                    <span class="hamburger-ingredient hamburger-meat"></span>
                    <span class="hamburger-filler"></span>
                    <span class="hamburger-ingredient hamburger-bottomBread"></span>
                </span>
            </button>


            <a class="vertical-group docs-header-logo" href="/">
                {{ partial "logo.html" . }}
            </a>

            <div class="vertical-group docs-header-tray">
                {{ partial "header/search.html" . }}
                {{ partial "header/cta.html" . }}
            </div>
        </div>
    </div>
</header>
